@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Inter", sans-serif;
    background-color: #f7f3f3;
}

main{
    display: flex;
    gap: 24px;
    margin: 0 auto;
    padding: 20px;
    max-width: 1512px;
    height: 100vh;
}

main .sidebar{
    width: 300px;
    background-color: #ffffff;
    border-radius: 20px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    position: relative;
}

main .sidebar .sidebar-top{
    display: flex;
    justify-content: space-between;
}

main .sidebar .sidebar-top .new-chat-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    background-color: #a300e4;
    color: #ffffff;
    border: none;
    border-radius: 3px;
    padding: 4px 8px;
    font-size: 12px;
    cursor:pointer;
    margin-bottom: 4px;
    width: fit-content;
}

main .sidebar .sidebar-top .new-chat-btn img{
    width: 16px;
    height: 16px;
}

main .sidebar .sidebar-top .search-icon{
    width: 24px;
    height: 24px;
    cursor: pointer;
}

main .sidebar h1{
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 4px;
}

main .sidebar hr{
    border: none;
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    margin-bottom: 16px;
}

main .sidebar .chat-history{
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    margin-top: 8px;
}
main .sidebar .chat-history .chat-item{
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px 12px;
    cursor: pointer;
    transition: background-color 0.2s;
}
main .sidebar .chat-history .chat-item:hover{
    background-color: rgba(0, 0, 0, 0.05);
}

main .sidebar .chat-history .chat-item img{
    width: 24px;
    height: 24px;
}
main .sidebar .chat-history .chat-item span{
    font-size: 12px;
    font-weight: 400;
    color: #000000;
}

/* right side */

main .chat-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

main .chat-container .messages{
    flex: 1;
    overflow-y: auto;
    padding: 20px 120px;
}

main .chat-container .messages p{
    font-size: 20px;
    font-weight: 500;
    color: #000000;
}

main .chat-container .messages .user-message{
    display: flex;
    align-items: center;
    gap: 16px;
}
main .chat-container .messages .user-message img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

main .chat-container .messages .ai-message{
    margin-left: 56px;
}

main .chat-container .messages .ai-message p{
    font-size: 16px;
    font-weight: 700;
    color: #000000;
    margin-bottom: 10px;
}
main .chat-container .messages .ai-message ol{
    margin-left: 20px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5rem;
    color: #000000;
}

.input-container{
    position: relative;
    display: flex;
    align-items: flex-start;
    background-color: #ffffff;
    border-radius: 32px;
    padding: 0;
    min-height: 190px;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
}